<link rel="stylesheet" href="styles/support.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<section id="support" data-page="support">
  <form action="/support" method="post" class="card">
    <strong>Send Feedback</strong>
    <div>
      <input type="text" name="name" placeholder="Your name" class="card" required>
      <input type="email" name="email" placeholder="Your email" class="card" required>
      <textarea name="message" placeholder="Message" class="card" required></textarea>
      <button type="submit" class="card">Send</button>
    </div>
  </form>

  <div class="donate card">
    <span>
      <strong>Support the Project</strong>
      <small>If you find this app helpful, consider supporting development</small>
    </span>

    <a href="http://selar.com/showlove/dantel" class="nav-btn" target="_blank" rel="noopener noreferrer">Show Love</a>

    <div class="code">
      <div class="qr">
        <img src="qr.png" alt="">
      </div>
      <small class="muted">Or Scan QR to donate</small>
    </div>

    <hr class="divider">
    <div class="socials">
      <a href="https://www.linkedin.com/in/chukwunonso-ezekwenna-07712625b" class="social-link" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.87 28.87" aria-hidden="true">
          <g id="Layer_2">
            <g id="Layer_1-2">
              <rect width="28.87" height="28.87" rx="6.48" ry="6.48" style="fill:var(--primary)"></rect>
              <path d="M8 12h3v9.68H8zm1.53-4.81a1.74 1.74 0 1 1-1.74 1.75 1.74 1.74 0 0 1 1.74-1.75M12.92 12h2.89v1.32a3.16 3.16 0 0 1 2.85-1.56c3 0 3.61 2 3.61 4.61v5.31h-3V17c0-1.12 0-2.57-1.56-2.57s-1.8 1.22-1.8 2.48v4.79h-3z" style="fill:var(--bg-tertiary)"></path>
            </g>
          </g>
        </svg>
      </a>
      <a href="https://github.com/DantelCode" class="social-link" target="_blank" rel="noopener noreferrer" aria-label="Github">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2a10 10 0 00-3.16 19.46c.5.09.68-.22.68-.48v-1.7c-2.78.6-3.37-1.2-3.37-1.2-.45-1.16-1.1-1.47-1.1-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.53 2.37 1.09 2.95.83.09-.65.35-1.1.64-1.36-2.22-.25-4.55-1.11-4.55-4.94 0-1.09.39-1.98 1.02-2.68-.1-.25-.45-1.28.1-2.66 0 0 .84-.27 2.75 1.02A9.56 9.56 0 0112 6.8c.85.004 1.71.116 2.5.34 1.9-1.29 2.75-1.02 2.75-1.02.55 1.38.2 2.41.1 2.66.63.7 1.02 1.59 1.02 2.68 0 3.84-2.34 4.69-4.57 4.94.36.31.68.92.68 1.85v2.73c0 .26.18.58.69.48A10 10 0 0012 2z" fill="currentColor" />
        </svg>
      </a>
      <a href="https://www.facebook.com/profile.php?id=61557467492383" class="social-link" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M22 12.07C22 6.48 17.52 2 11.93 2S2 6.48 2 12.07c0 4.99 3.66 9.14 8.44 9.93v-7.04H8.14V12.1h2.3V9.79c0-2.28 1.35-3.53 3.4-3.53.98 0 2.01.17 2.01.17v2.22h-1.14c-1.13 0-1.48.7-1.48 1.42v1.7h2.52l-.4 2.86h-2.12V22c4.78-.79 8.44-4.94 8.44-9.93z" fill="currentColor" />
        </svg>
      </a>
      <a href="https://x.com/DantelCode" class="social-link" target="_blank" rel="noopener noreferrer" aria-label="X (Twitter)">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 100 100" fill="var(--primary)" viewBox="0 0 100 100" aria-hidden="true">
          <g>
            <path d="M69.7,8.7H30.4c-11.7,0-21.3,9.5-21.3,21.3v41.2c0,11.7,9.5,21.3,21.3,21.3h39.4c11.7,0,21.3-9.5,21.3-21.3V29.9
              C91,18.2,81.5,8.7,69.7,8.7z M76.8,78.3l-15.4,0c-0.1,0-0.2,0-0.2-0.1L46.8,57.3c0,0-0.1,0-0.1,0C40.9,64,35.2,70.6,29.6,77.1
              c-0.3,0.4-0.7,0.7-1,1c-0.1,0.1-0.2,0.1-0.3,0.1l-4.2,0c-0.1,0-0.2,0-0.1-0.1l20.5-23.8c0.1-0.1,0.1-0.2,0-0.3L24.1,24.3
              c0,0,0-0.1,0-0.1h15.5c0.1,0,0.1,0,0.2,0.1L53.4,44c0,0,0,0,0.1,0l16.9-19.7c0.1-0.1,0.2-0.1,0.3-0.1l4.2,0c0.2,0,0.2,0.1,0.1,0.2
              L55.6,46.9c-0.1,0.1-0.1,0.2,0,0.3l21.3,31C76.9,78.2,76.9,78.3,76.8,78.3z"></path>
            <path d="M37.8,27.8C37.8,27.8,37.8,27.8,37.8,27.8l-6.7,0c-0.1,0-0.1,0.1-0.1,0.2l32.2,46.7c0,0,0,0,0.1,0h6.6
		          c0.1,0,0.1-0.1,0.1-0.2L37.8,27.8z"></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</section>

<script src="scripts/utils.js"></script>
<script src="scripts/support.js"></script>